.blog {
  max-width: 60%;
  margin: 0 auto;
  
  &__list {
    margin: 1rem auto;
  }
}

@media only screen and (max-width: 900px) {
  .blog {
    max-width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .blog {
    max-width: 90%;
  }
}