.btn {
  padding: .7rem 2rem;
  margin: 1rem auto;
  background: $color-secondary-dark 0% 0% no-repeat padding-box;
  color: $color-white;
  border: none;
  border-radius: 40px;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Montserrat';
  outline: none;
  cursor: pointer;
}