.btn {
  padding: .7rem 1rem;
  margin: 2rem auto;
  background: $color-secondary-dark 0% 0% no-repeat padding-box;
  color: $color-white;
  border: none;
  border-radius: 40px;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Montserrat';
  outline: none;
  cursor: pointer;
  transition: background-color, transform .2s;

  &:hover {
    background-color: $color-secondary;
    transform: translateY(-2px);

  }
}