.screener-option {
  display: flex;
  align-items: center;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__img {
    position: relative;
    margin-right: .5rem;
    width: 70px;
    height: 70px;
  }

  &__text {
    text-align: left;
    line-height: 1.5;
    cursor: pointer;
  }

  &__radio {
    position: absolute;
    right: 50%;
    opacity: 0;
    z-index: -1;
  }
}

.background {
  display: flex;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0px 0px 8px $color-shadow;
  padding: 1rem 2rem;
  width: 100%;
  cursor: pointer;
}

.screener-option__radio:checked + .background {
  background-color: $color-secondary;
  color: $color-white;
}
