.screener-option {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 0px 8px $color-shadow;
  padding: 1rem 2rem;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__img {
    position: relative;
    margin-right: 1rem;
    width: 70px;
    height: 70px;
  }

  &__text {
    text-align: left;
    letter-spacing: 0.72px;
  }
}