*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
  font-size: 1.1rem;
}

.columns {
  margin-left: 0;
  margin-right: 0;
}

.is-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}

.screener {
  background-color: $color-gray;
}

