// COLOR SCHEME
$color-secondary: #54BFAC;
$color-secondary-dark: #086654;

$color-tertiary: #FFF4B0;




// TEXT COLORS
$color-black: #2D2D2D;
$color-white: #fff;
$color-gray: #EBEBEB;


// GUTTERS
$gutter-2: 2rem;
$gutter-4: 4rem;
$gutter-6: 6rem;
