.section {
  padding: $gutter-4;
}

.hidden {
  display: none;
}

.is-semi-bold {
  font-weight: 700;
}

.is-bold {
  font-weight: 800 !important;
}

.green-text {
  color: $color-secondary;
}

.pink-text {
  color: $color-pink;
}

.green-background {
  background-color: $color-secondary;
  color: $color-white;
}


@media only screen and (max-width: 600px) {
  .section {
    padding: $gutter-4 0;
  }
}